@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Roboto:wght@300;400&display=swap');

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body {   
    font-family: Roboto, sans-serif;
    min-height:100vh;
    /* background-image: url("data:image/svg+xml,%3Csvg width='150' height='170' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.3' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E"), linear-gradient(135deg, rgb(192, 192, 251)  1%, lavender 25%, white 50%,  lavender   75%, rgb(168, 168, 255) 99%);  */
    background-image: url("data:image/svg+xml,%3Csvg width='48' height='64' viewBox='0 0 24 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M48 28v-4L36 12 24 24 12 12 0 24v4l4 4-4 4v4l12 12 12-12 12 12 12-12v-4l-4-4 4-4zM8 32l-6-6 10-10 10 10-6 6 6 6-10 10L2 38l6-6zm12 0l4-4 4 4-4 4-4-4zm12 0l-6-6 10-10 10 10-6 6 6 6-10 10-10-10 6-6zM0 16L10 6 4 0h4l4 4 4-4h4l-6 6 10 10L34 6l-6-6h4l4 4 4-4h4l-6 6 10 10v4L36 8 24 20 12 8 0 20v-4zm0 32l10 10-6 6h4l4-4 4 4h4l-6-6 10-10 10 10-6 6h4l4-4 4 4h4l-6-6 10-10v-4L36 56 24 44 12 56 0 44v4z' fill='%239C92AC' fill-opacity='0.2' fill-rule='evenodd'/%3E%3C/svg%3E"), linear-gradient( rgb(173, 181, 253)  1%, rgb(212, 212, 250) 25%, lavender 60%, white 80%);
    cursor: url('./assets/1.cur'),auto;
}
